<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>지킬로 깃허브에 무료 블로그 만들기</title>
  <meta name="viewport" content="width=device-width" />

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="public/css/syntax.css" />
  <!-- /css 앞에 을 추가한다. -->

  <!-- Custom CSS -->
  <link rel="stylesheet" href="public/css/poole.css" />
  <!-- /css 앞에 을 추가한다. -->
</head>
<html lang="en-us">
  {% include head.html %}

  <body>
    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">{{ content }}</div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src="{{ site.baseurl }}/public/js/script.js"></script>
  </body>
</html>
